{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">用户信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-header">
                    <div class="btn-group pull-left">
                        <a href="{% url 'test' gender='male' %}">
                            <button type="button" class="btn btn-default">男</button>
                        </a>
                    </div>
                    <div class="btn-group pull-left">&nbsp</div>
                    <div class="btn-group pull-left">
                        <a href="{% url 'test' gender='female' %}">
                            <button type="button" class="btn btn-default">女</button>
                        </a>
                    </div>
                </div>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>用户名</th>
                        <th>手机号码</th>
                        <th>邮箱</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in object_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.get_gender_display }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- 下面内容放到模板页：<section class="content">标签中-->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">组织架构信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>组织架构</th>
                        <th>类型</th>
                        <th>所属</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for structure in structure_all %}
                    <tr>
                        <td>{{ structure.id}}</td>
                        <td>{{ structure.name }}</td>
                        <td>{{ structure.get_type_display }}</td>
                        <td>{{ structure.parent.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>

    <!-- /.content -->

{% endblock %}


{% block javascripts %}
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
{% endblock %}